.ant-space-vertical {
  width: 100%;
}

.disabledArray {
  background-color: rgb(238, 238, 238);
  transition: background-color 0.5s ease;
}

.disabledArray:hover {
  cursor: not-allowed;
}

.enabledArray {
  transition: background-color 0.5s ease;
}